<div class="main-container">
  <section class="space-lg pt-0">
    <img alt="Image" src="/img/graphic-bg-clouds-1.png" class="bg-image" />
    <div class="container">
      <div class="row justify-content-center space-lg">
        <div class="col-12 col-md-9 col-lg-8 text-center">
          <h1 class="display-3">Simple conference management.</h1>
          <span class="lead">
            Organize hybrid, virtual or in-person events in a few moments. Engage your audience with the most user-friendly event app..
          </span>
          <%= link_to 'Get started now', new_user_registration_path, class: "btn btn-success btn-lg" %>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="video-cover rounded shadow">
            <img alt="Image" src="/img/photo-man-whiteboard.jpg" class="bg-image" />
            <div class="video-play-icon">
              <i class="icon-controller-play"></i>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/oYqvpjKJZkU?autoplay=1&amp;mute=1&amp;showinfo=0&amp;rel=0" allowfullscreen></iframe>
            </div>
          </div>
          <!--end of video cover-->
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
  <section>
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center text-center section-intro">
        <div class="col-12 col-md-9 col-lg-8">
          <span class="title-decorative" data-aos="fade-up" data-aos-delay="10">Welcome Home</span>
          <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Greatly simplified workflow</h2>
          <span class="lead" data-aos="fade-up" data-aos-delay="200">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

        </div>
        <!--end of col-->
      </div>
      <!--end of row-->

      <ul class="feature-list feature-list-lg">
        <li class="row justify-content-around align-items-center">
          <div class="col-12 col-md-6 col-lg-5">
            <img alt="Image" src="/img/photo-woman-laptop.jpg" class="img-fluid rounded" />
          </div>
          <!--end of col-->
          <div class="col-12 col-md-6 col-lg-5">
            <h5 data-aos="fade-up" data-aos-delay="50">Set your phasers to stun</h5>
            <p data-aos="fade-up" data-aos-delay="150">
              A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
            </p>
            <a href="#" data-aos="fade-up" data-aos-delay="250">More about Phasers &rsaquo;</a>
          </div>
          <!--end of col-->
        </li>
        <li class="row justify-content-around align-items-center">
          <div class="col-12 col-md-6 col-lg-5 order-lg-2">
            <img alt="Image" src="/img/photo-team-desk.jpg" class="img-fluid rounded" />
          </div>
          <!--end of col-->
          <div class="col-12 col-md-6 col-lg-5 order-lg-1">
            <h5 data-aos="fade-up" data-aos-delay="50">Let the world know</h5>
            <p data-aos="fade-up" data-aos-delay="150">
              A paragraph, from the Greek paragraphos, "to write beside" or "written beside", is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
            </p>
            <a href="#" data-aos="fade-up" data-aos-delay="250">More about Team Collaboration &rsaquo;</a>
          </div>
          <!--end of col-->
        </li>
      </ul>
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
  <section>
    <div class="container">
      <div class="row justify-content-center text-center section-intro">
        <div class="col-12 col-md-9 col-lg-8">
          <span class="title-decorative" data-aos="fade-up" data-aos-delay="10">Welcome Home</span>
          <h2 class="display-4" data-aos="fade-up" data-aos-delay="100">Greatly simplified workflow</h2>
          <span class="lead" data-aos="fade-up" data-aos-delay="200">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

        </div>
        <!--end of col-->
      </div>
      <!--end of row-->

      <ul class="row feature-list">
        <li class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">
          <i class="icon-fingerprint h1 text-teal"></i>
          <h5>Armed and fabulous</h5>
          <p>
            A self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
          </p>
        </li>
        <!--end of col-->
        <li class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="150">
          <i class="icon-tablet-mobile-combo h1 text-purple"></i>
          <h5>Content first</h5>
          <p>
            A paragraph, from the Greek paragraphos is a self-contained unit of a discourse in writing dealing with a particular point or idea.
          </p>
        </li>
        <!--end of col-->
        <li class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="250">
          <i class="icon-folder-music h1 text-red"></i>
          <h5>All in one place</h5>
          <p>
            A self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences.
          </p>
        </li>
        <!--end of col-->
      </ul>
      <!--end of row-->
      <div class="row justify-content-center text-center section-outro">
        <div class="col-lg-4 col-md-5">
          <h6>Introducing a new way</h6>
          <p>An opportunity to introduce the major benefits of your product and set the scene for what's to come</p>
          <a href="#">View more features &rsaquo;</a>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
  <section>
    <div class="container">
      <div class="row align-items-center justify-content-between section-intro">
        <div class="col-12 col-lg-5 text-center text-lg-left section-intro">
          <span class="title-decorative">Simple Pricing</span>
          <h3 class="display-4">No hidden fees, please.</h3>
          <span class="lead">
            A robust suite of styled components, powered by Bootstrap 4. Take the design of your website or webapp up a notch.
          </span>
        </div>
        <!--end of col-->
        <div class="col-12 col-lg-6 row no-gutters card-group">
          <div class="card pricing card-lg bg-dark col-lg-6">
            <div class="card-body">
              <h5>Unlimited</h5>
              <span class="display-3">$9</span>
              <span class="text-small">per user / month</span>
              <span class="h6">Includes:</span>
              <ul class="list-unstyled">
                <li>
                  Unlimited projects
                </li>
                <li>
                  Unlimited repositories
                </li>
                <li>
                  Unlimited collaborators
                </li>
              </ul>
              <a href="#" class="btn btn-lg btn-success">Sign up now</a>
            </div>
          </div>
          <!--end card-->
          <div class="card pricing card-lg col-lg-6">
            <div class="card-body">
              <h5>Basic</h5>
              <span class="display-3">Free</span>
              <span class="text-small">per user / month</span>
              <span class="h6">Includes:</span>
              <ul class="list-unstyled">
                <li>
                  1 Active project
                </li>
                <li>
                  2 Repositories
                </li>
                <li>
                  2 Collaborators
                </li>
              </ul>
              <a href="#" class="btn btn-lg btn-outline-primary">Sign up now</a>
            </div>
          </div>
          <!--end card-->
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h4 data-aos="fade-up">Don’t worry, you’ll be keeping good company</h4>
          <ul class="list-inline list-inline-large">
            <li class="list-inline-item" data-aos="fade-up" data-aos-delay="50">
              <img alt="Image" class="logo" src="/img/logo-paypal.png" />
            </li>
            <li class="list-inline-item" data-aos="fade-up" data-aos-delay="100">
              <img alt="Image" class="logo" src="/img/logo-slack.png" />
            </li>
            <li class="list-inline-item" data-aos="fade-up" data-aos-delay="150">
              <img alt="Image" class="logo" src="/img/logo-invision.png" />
            </li>
            <li class="list-inline-item" data-aos="fade-up" data-aos-delay="200">
              <img alt="Image" class="logo" src="/img/logo-intercom.png" />
            </li>
          </ul>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-lg-5">
          <div class="media">
            <img alt="Image" src="/img/avatar-male-1.jpg" class="avatar" />
            <div class="media-body">
              <p class="mb-1">
                “Let’s get one thing straight, this theme’s a straight-up winner. No posers here, just beautiful design and code.”
              </p>
              <small>Daniel Cameron</small>
            </div>
          </div>
        </div>
        <!--end of col-->

        <div class="col-12 col-md-6 col-lg-5">
          <div class="media">
            <img alt="Image" src="/img/avatar-female-1.jpg" class="avatar" />
            <div class="media-body">
              <p class="mb-1">
                “With Wingman, we were able to turn out a stunning landing page and compelling MVP for our SaaS web app in no time.”
              </p>
              <small>Caitlyn Halsy, Bench</small>
            </div>
          </div>
        </div>
        <!--end of col-->

      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
  <section class="bg-secondary text-center space-lg pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="h1" data-aos="fade-up">Don't even bother waiting</h3>
          <a href="#" class="btn btn-lg btn-success" data-aos="fade-up">Start free trial now</a>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row">
        <div class="col-12">
          <img alt="Image" class="w-100 opacity-60" src="/img/graphic-bg-city.svg" />
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
</div>