<div class="card">
              <div class="card-body">
                <div class="media">
                  <a href="#" class="mr-3">
                    <img alt="Daniel Cameron" src="/img/avatar-male-1.jpg" class="avatar" />
                  </a>
                  <div class="media-body">
                    <div>
                      <a href="#" class="h5 m-0">
                        <h5>Daniel Cameron</h5>
                      </a>
                      <small class="text-muted"><i class="icon-location"></i> San Francisco, USA</small>
                    </div>
                    <ul class="list-inline">

                      <li class="list-inline-item text-small">187 Followers</li>

                      <li class="list-inline-item text-small">177 Following</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a class="text-small" href="#">@cameronman</a>
                <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Follow"><i class="icon-add-user"></i>
                </button>
              </div>
            </div>